@charset "utf-8";
/* Craydent App Styles */

/*GLOBALS*/
body {
padding: 0;
margin: 0;
width:100%;
height:100%;
}

fright,.fright{  float:right;  }
fleft,.fleft{  float:left;  }
clear,.clear{clear: both;}

capp-header,
capp-panel,
capp-font{
    font-family: 'Segoe UI', 'Segoe UI Web Regular', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
}

capp-header-item,
capp-menu,
capp-menu-label,
capp-menu-option,
capp-header-button{
    display:block;
    box-sizing: border-box;
}

capp-wrapper,
capp-header,
capp-body,
capp-panel,
capp-view,
capp-absoluteblock{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display:block;
    box-sizing: border-box;
}
/*--------------------------- begin CAPP-BG --------------------------------*/
.capp-bg-light{
    background:rgba(255,255,255,.5);
    color:#222;
}
.capp-bg-light.expanded:hover {
    background-color: rgba(255,255,255,.7);
}
.capp-bg-dark{
    background:rgba(0,0,0,.3);
    color:#ddd;
}
.capp-bg-dark.expanded:hover {
    background-color: rgba(0,0,0,.7);
}
.capp-bg-light *:hover{  background:rgba(255,255,255,.7);  }
.capp-bg-dark *:hover{  background:rgba(0,0,0,.5);  }

/*--------------------------- end CAPP-BG --------------------------------*/

/*--------------------------- begin CAPP-WRAPPER --------------------------------*/
capp-wrapper{

}
/*--------------------------- end CAPP-WRAPPER --------------------------------*/
capp-button,capp-menu{
    cursor:pointer;
}

/*--------------------------- begin CAPP-BUTTON /  --------------------------------*/
capp-button{
    min-height:40px;
    min-width:40px;
    padding:0 5px;
    display:block;
    overflow:hidden;
    transition:.2s;
}

/*capp-button-icon*/
capp-button-icon {
    float: left;
    height: 100%;
    width: 50px;
    margin-left: -5px;
    text-align: center;
}

/*capp-button-label*/
capp-button-label {
    display: none;
    visibility: hidden;
}

.expanded > capp-button > capp-button-label {
    display: block;
    visibility: visible;
}
/*--------------------------- end CAPP-BUTTON --------------------------------*/

/*--------------------------- begin CAPP-MENU --------------------------------*/
capp-menu{
}
capp-menu > *{
    padding:0 5px;
}
.capp-retro capp-menu.expanded{
    background-color: rgba(255,255,255,.8);
}

/*capp-menu-label*/
capp-menu-label{
    transition:.2s;
}
capp-header > capp-menu > capp-menu-label {
    padding: 0 10px;
}
.capp-retro capp-menu-label:hover {
    padding-bottom: 6px;
}

/*capp-menu-option*/
capp-menu-option{
    display:none;
}
capp-menu.expanded > capp-menu-option{
    display:block;
}

.capp-retro capp-menu-option:hover{
    background-color: rgba(255,255,255,.8)
}

/*capp-menu,capp-header-button{
    float:left;
}
capp-menu-option,capp-menu-label,
capp-header-button{
    padding:5px 10px;
    cursor:pointer;
    line-height:40px;
    transition:.2s;
    -webkit-user-select: none;
    font-size: 18px;
}

capp-menu-option{
    display:none;
    float:none;
}
capp-menu:hover {
    background-color: transparent !important;
}
capp-menu.expanded {
    border-left: 1px solid #fff;
}
capp-menu.expanded capp-menu-option{
    display:block;
}*/
/*--------------------------- end CAPP-MENU --------------------------------*/

/*---------------------------BEGIN CAPP-HEADER --------------------------------*/
capp-header{
    height:50px;
    bottom:auto;
    z-index: 2001;
    line-height:50px;
}

capp-header > *{
    float:left
}
capp-header.capp-retro{
    background-color:#eee;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.3);
    line-height:44px;
    color:#0099aa;
}
capp-header.capp-retro > *:hover{
background-color:rgba(255,255,255,.8)
}
.capp-retro capp-header-bonus {
    background-color: #dca042 !important;
    height: 5px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 45px;
    z-index: -1;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, .2);
}
/*
capp-header.light-bg capp-header-button:hover,
capp-header.light-bg capp-menu-label:hover,
capp-header.light-bg capp-menu-option:hover{
    background:rgba(255,255,255,.7);  }
*/
/*
capp-header.dark-bg capp-header-button:hover,
capp-header.dark-bg capp-menu-label:hover,
capp-header.dark-bg capp-menu-option:hover{
    background:rgba(0,0,0,.7);  }

capp-header.light-bg capp-header-button:active{  background:rgba(255,255,255,.9);  }
capp-header.dark-bg capp-header-button:active{  background:rgba(0,0,0,.9);  }

capp-header > .fright{  float:right;  }
capp-header > .fleft{  float:left;  }*/
/*---------------------------END CAPP-HEADER --------------------------------*/
capp-title {
/*    color: #fff;*/
    /*text-shadow: 0 1px 2px rgba(0,0,0,.5);*/
    font-size: 21px;
    letter-spacing: .5px;

    margin-left: 5px;
    padding:0 5px;
}
.capp-retro capp-title{
    color: #066;
}
capp-title:hover{
    background:none !important;
}

capp-craydent-icon{
    background:url("/JsonObjectEditor/img/svgs/craydent-logo.svg") center no-repeat;
    width: 50px;
    height: 45px;
    float: left;
    background-size: 40px;
}

/*--------------------------- begin CAPP-BODY --------------------------------*/
capp-body{
    top:50px;
}
/*--------------------------- end CAPP-BODY --------------------------------*/

/*---------------------------BEGIN CAPP-VIEW --------------------------------*/
capp-view {
    left:50px;
}
/*--------------------------- END CAPP-VIEW --------------------------------*/

/*---------------------------BEGIN CAPP-PANEL --------------------------------*/
capp-panel{
    right:auto;
    width:50px;
    font-size:14px;
    transition:.2s;
    z-index: 2001;
    line-height:50px;
}
capp-panel hr {  margin: 0;  }
capp-panel.expanded {
    width: 200px;
    text-align:left;
}

capp-panel > *{
    height:50px;
}

.capp-panel-toggle{
    text-align:center;
}

/*---------------------------end CAPP-PANEL --------------------------------*/

app-menu-item{
    display:block;
    padding:10px;
    cursor:pointer;
    color:#eee;
    transition:.2s;
}

app-menu-item:hover{
    background:rgba(0,0,0,.2);
    color:#fff;
}


.collapsed-menu capp-menu {
    width: 50px;
}

.collapsed-menu capp-view {
    left: 50px;
}
.collapsed-menu app-menu-item {
    height: 50px;
    padding: 0 5px;

    font-size:9px;
    text-align:center;
}
.collapsed-menu app-menu-item app-menu-title,app-menu-item app-menu-tag
{
    display:none;
}
.collapsed-menu app-menu-item app-menu-tag
{
    display:block;
}
capp-menu-toggle{
    width:50px;
    float:left;
    height:50px;
    text-align: center;

    cursor:pointer;
    display:block;
/*    background-image: url('img/lightbulb-black.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;*/
}
capp-menu-toggle:hover{
    background-color:rgba(0,0,0,.2);
}


/*APP USER */
appuser {
    float: right;

    padding: 0 20px;
    cursor: pointer;
}

appuser:hover {
    background: rgba(0,0,0,.2);
}
